.banner{
    background: url(../images/career/output-onlinejpgtools.jpg) no-repeat;
    min-height: 340px;
    width: 100%;
    background-size: 1202px;
    background-position-x: 1.2rem;
    margin-top: 64px;

}
.content{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.content-thejobs .calendar_icon{
    padding-right: 10px;
    padding-top: 10px;
}
.content-img{
    display: flex;
    justify-items: center;
}
.img-hiring_HR{
    width: 60% !important;
}
.content-img img{
    width: 80%;
    display: flex;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.content-thejobs h1 {
    color: #f26522;
}
.content-thejobs h4{
    font-size: 1.5rem;
}
.content-thejobs p{
    padding: 5px 0px;
    font-size: 1.3rem;
}
.content-thejobs .dots{
    font-size: 1rem;
    padding-right: 10px;
}
.content:hover{
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.content-thejobs a{
    border-radius: 5px;
    background-color: #f26522;
    padding: 10px 20px;
    display: flex;
    width: 120px;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
}
.content-thejobs a:hover{
    background-color: #cecfc9;
    
    color: #f50707;
}
.content-thejobs .thejob_button{
    display: flex;
}
.announcement:first-child{
    padding-top: 20px;
}
.announcement{
    padding-top: 60px;
}
